body {
	/*Police du site*/
	font-family: "Lato", sans-serif;
}

.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif;
}

.fa-exclamation-triangle,.fa-question-circle{
    font-size: 200px;
}

.fa-github{
	font-size: 100px;
}	

a: active {
    color: 	white;
}

.top-link {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}

.float-left {
	float: left;
}

.float-right {
	float: right !important;
}

#navbar * a.active {
	color: #000 !important;
	background-color: #fff !important;
}
