body {
	/*Police du site*/
	font-family: "Lato", sans-serif;
}

.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif;
}

.fa-anchor,.fa-coffee,.fa-git,.fa-exclamation-triangle,.fa-hand-stop-o,.fa-blind{
    font-size: 200px;
}

a: active {
    color: 	white;
}